body {
  background-color: #030e2d;
  margin: 0px;
}

#hero {
  background-color: rgb(0, 0, 0);
  position: relative;
}

.container-fluid {
  text-align: center;
}

.sunset {
  width: 100%;
  opacity: 0.5;
  left: 0px;
  right: 0px;
}

.text-title {
  font-family: "Sacramento", cursive;
  color: #ffffed;
  position: absolute;
  top: 6%;
  left: 37%;
  font-size: 4rem;
}

.text-title>p {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: #ffffed;
}

.text-title span {
  color: hsl(46, 100%, 60%);
  text-decoration: underline;
}

span {
  color: #ffb9c9;

}

.second {
  background-color: #030e2d;
  margin-bottom: 5em;
  background-image: linear-gradient(#091639c3, #030e2dc9),
    url("./images/my\ photo2.jpg");
  background-attachment: fixed;
  background-position: center;
}

.image {
  height: 15rem;
  border-radius: 50%;
  margin-top: 2rem;
  border: 5px solid #132c6f;
}

.middle>h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #ffffed;
}

.middle>p {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  color: #ffffed;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

#skills {
  margin: 0;
}

.third {
  font-family: 'Montserrat', sans-serif;
  background-color: #030e2d;
  color: #ffffed;
  background-image: linear-gradient(#091639c3, #030e2dc9),
    url("./images/Portfolio.jpg");
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 3rem;
}

.c{
  padding-top:2rem ;
  
}
.title {
  font-size: 3rem;
}

.c>.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  color: #ffffed;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.grid h2 {
  font-weight: normal;
}

.com {
  grid-area: 1 / 1 / 2 / 1;
  width: 100%;
}

.design {
  grid-area: 1 / 2 / 1 / 3;
  width: 100%;
}

.computer {
  grid-area: 1 / 3 / 1 / 4;
  width: 100%;
}

.program {
  grid-area: 2 / 2 / 2 / 3;
  width: 100%;
}

.third button {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  background-color: #ffb9c9;
  color: #ff406c;
  border-radius: 1rem;
  cursor: pointer;
}

hr {
  border: dotted rgb(201, 201, 201) 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.contact {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.contact h2 {
  font-size: 3rem;
  color: #ffffed;
}

.contact p {
  font-size: 2rem;
  color: #ffffed;
  font-weight: lighter;
}

.contact button {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  border: none;
  background-color: #ffb9c9;
  font-weight: bold;
  color: #ff406c;
  border-radius: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(253, 72, 114);
  color: #ffffed;
}

#footer {
  text-align: center;
  background-color: #ff406c;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}

#footer a {
  font-size: 2rem;
  font-size: large;
  text-decoration: none;
  color: #ffa1b7;
  margin: 10px 20px;
}

#footer a:hover {
  color: #ffffff;
  text-shadow: #091639 0 6px 12px;
}

#footer p {
  color: white;
  margin: 3rem auto;
}

@media (max-width:680px) {
  #hero {
    position: relative;
  }

  .sunset {
    width: 100%;
    height: 25rem;
  }

  .text-title {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
    bottom: 5%;
    font-size: 1.8rem;
  }

  .text-title>p {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.3rem;
  }

  .second {
    margin-bottom: 1em;
    background-image: linear-gradient(#091639c3, #030e2dc9), url("./images/my\ photo2.jpg");
    background-attachment: fixed;
    background-position: 35% 45%;
  }

  .image {
    height: 9rem;
    ;
    margin-top: 1rem;
  }

  .middle>h2 {
    font-size: 2rem;
  }

  .middle>p {
    font-size: 1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  #skills {
    margin: 0;
  }

  .title {
    font-size: 2rem;
    margin-top: 5rem;
  }

  .c>.grid {
    margin-bottom: 40px;
    display: block;
  }

  .grid img {
    width: 80%;
  }
  .third {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#091639e1, #030e2de6),
      url("./images/tHE\ GAMING\ VIEW\ VISITING\ CARD\ BOTH\ SIDE\ VIEW.jpg");
    background-attachment: fixed;
    background-position: center;
  }

  .third button {
    font-size: 1.6rem;
    cursor: pointer;
  }

  hr {
    border: dotted rgb(201, 201, 201) 6px;
    border-bottom: none;
    width: 4%;
    margin: 70px auto;
  }

  .contact h2 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 1rem;
  }

  .contact button{
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #footer {
    text-align: center;
  }

  #footer a {
    font-size: large;
    text-decoration: none;
    color: #ffa1b7;
    margin: 0.8px 0.8px;
  }
}


@media (min-width:681px) and (max-width:1373px) {
  #hero {
    position: relative;
  }

  .sunset {
    width: 100%;
    height: 45rem;
  }

  .text-title {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 35%;
    right: 30%;
    bottom: 5%;
    font-size: 3rem;
  }

  .text-title>p {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
  }

  .image {
    height: 9rem;
    margin-top: 1rem;
  }
  .second {
    margin-bottom: 1em;
    background-image: linear-gradient(#091639c3, #030e2dc9),
      url("./images/my\ photo2.jpg");
    background-attachment: fixed;
    background-position: 35% 45%;
  }

  .middle>h2 {
    font-size: 2rem;
  }

  .middle>p {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }


  .title {
    font-size: 2rem;
    margin-top: 5rem;
  }

  .c .grid {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    cursor: pointer;
  }

  .com {
    grid-area: 1 / 1 / 1 / 1;
  }

  .design {
    grid-area: 1 / 2 / 1 / 3;

  }

  .computer {
    grid-area: 2 / 1 / 2 / 2;
  }

  .program {
    grid-area: 2 / 2 / 2 / 3;

  }

  .grid img {
    width: 100%;
  }
  .third {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#091639c3, #030e2dc9),
      url("./images/tHE\ GAMING\ VIEW\ VISITING\ CARD\ BOTH\ SIDE\ VIEW.jpg");
    background-attachment: fixed;
    background-position: center;
  }

  .third button {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .contact h2 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 1rem;
  }

  .contact button {
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #footer {
    text-align: center;

  }

  #footer a {
    font-size: large;
    text-decoration: none;
    color: #ffa1b7;
    margin: 4px 15px;
  }
}